.store-container {
    width: 100%;
    display: flex;
    font-family: sans-serif;

    .product-list-container {
        min-width: 500px;
        margin-right: 1em;

        .product-card {
            border: 1px solid black;
            margin-bottom: 5px;
            display: flex;

            .product-info {
                width: 100%;
                padding: 2px;
            }
            .right-section { 
                float: right;
            }
            .left-section {
                float: left;
            }
            .description {
                font-size: 90%;
                color: lighten(black, 40%);
            }
        }
    }

    .cart-container {

        table {
            .cell-image {
                width:32px;

                .image-thumbnail {
                    width: 32px;
                    height: 32px;
                }
            }

            .cell-name {
                width: 175px;
            }

            .cell-price, .cell-remove {
                width: 75px;
            }


        }
    }

}