<main class="store-container">

    <div class="product-list-container">
        <h3>Product List</h3>
        <ul>
            <!-- Repeat this product card for each product in the products array -->
            <li class="product-card" *ngFor="let prod of products">

                <img src={{prod.image}}/>
                <div class="product-info">
                    <div class="left-section">
                        <div class="name">{{prod.name}}</div>
                        <div class="description">{{prod.description}}</div>
                    </div>
                    <div class="right-section">
                        <div class="price">{{prod.price}}</div>
                        <button (click)="add(prod)">Add to Cart</button>
                    </div>
                </div>

            </li>
        </ul>
    </div>

    <div class="cart-container">
        <h3>Cart</h3>

        <table>
            <tr>
                <th class="cell-image"></th>
                <th class="cell-name">Product</th>
                <th class="cell-price">Price</th>
                <th class="cell-remove"></th>
            </tr>
            <tr *ngFor="let item of cart; let i = index">
                <td class="cell-image"><img class="image-thumbnail" src=""></td>
                <td class="cell-name">{{item.name}}</td>
                <td class="cell-price">{{item.price}}</td>
                <td class="cell-remove"><button (click)="remove(item)">Remove</button></td>
            </tr>
        </table>

        <div *ngIf="cartTotal == 0">Cart is empty.</div>

        Total:

        <button (click)="clear()">Clear Cart</button>

    </div>

</main>