<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-12">
      <div class="card">
        <div class="card-block">
          <ul>
          <li>This is where you will Create, Read, Update and Delete (CRUD) objects from the Suplari data model defined in shared/domain-model.ts</li>
          <li>Your assignment is to enhance the UI with components to edit the objects from our data model</li>
          <li>Use the injectable SupllierDataService object to fetch the root list of suppliers to edit.</li>
          <li>You UI should be able to edit all fields of the domain model objects including strings, dates, numbers and enums</li>
        </ul>
      </div>
      <div class="card">
        <div class="card-header">
          <b>Suppliers->>Contracts->>Products->>Metrics</b>
        </div>
    
        <div class="card-block">
          <div class="container-fluid">
            <div class="contract-grid row" *ngFor="let s of suppliers">
              {{s.name}}
            </div>
            <button type="button" class="btn btn-primary btn-sm" (click)="onAddSupplier($event)">New Supplier</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>