
.contract-grid .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.contract-grid .col-md-1 { 
    width: 20px;
    margin-top: 5px; 
}
.contract-grid .col-md-10 { 
    padding-left: 0px;
    padding-right:0px; 
}

.editor-container .contract-grid {
    padding-left: 0px;
    padding-right:0px; 
}