<div class="animated fadeIn">
    <div class="card-group">
        <div class="card">
            <div class="card-block">
                <div class="h1 text-muted text-xs-right mb-2">
                    <i class="icon-fire"></i>
                    <div>Bonus points to create some charts and graphs here to display a summary of the objects from the domain model
                    For example, show a pie chart of all products by price</div>
                </div>
            </div>
        </div>
    </div>
</div>
